.Footer {
  background-color: #262626;
  height: 30rem;
  color: #fff;
}
.logo-social {
  width: 10rem;
}

.logo-social ul li {
  font-size: 1.5rem;
  color: #fff;
  list-style: none;
}
.footprop {
  width: 15rem;
}
.footprop li {
  margin: 2rem 0;
  list-style: none;
  display: flex;
}

.footprop .icon {
  font-size: 1.3rem;
  margin-right: 1rem;
}
.downbar {
  height: 5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.205);
}
.rules {
  display: flex;
}
.rules p {
  margin: 0 1rem;
}
